{% extends "layout.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">

<script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
<div id="header">
    <img src="{{ url_for('static', filename='img/pusheen.png')}}" id="logo">

    <div id="logo-name">CatTalks</div>

    <div id="name">
        {% if false %}
        <a href="{{ url_for('logout') }}" id="logout">Logout</a>
        {% endif %}
        <a href="{{ url_for('logout') }}">{{ name }}</a>
    </div>
</div>
<div id="wrapper">
    <div id="friends-container">
        <div id="request-form">
            <h3>Connect with a Cat</h3>
            <input type="text" name="username" placeholder="Username" id="request-username-input">
            <input type="button" onclick=send_message_request() value="+">
        </div>
        <div id="friend-blocks-container">
        </div>
        <div id="request-blocks-container">
            <h3>Pending Requests</h3>
        </div>
    </div>
    <div id="message-wrapper">
        <div id="messages-container"></div>
        <div id="message-form">
            <input type="button" value="Call" onclick="toggle_video_call();" id="call-button">
            <input type="text" placeholder="Type a message" id="message-text">
            <input type="button" value="Send" onclick="send_message()">
        </div>
    </div>
    <div id="video-wrapper">
        <video autoplay="true" id="video-element"></video>
        <img id="image-element"></img>
        <canvas id="canvas-element"></canvas>
    </div>

</div>
</div>

{% endblock %}