{% extends "layout.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
<div id="header">
    <img src="{{ url_for('static', filename='img/pusheen.png')}}" id="logo">

    <div id="logo-name">CatTalks</div>

    <div id="name">
        {% if false %}
        <a href="{{ url_for('logout') }}" id="logout">Logout</a>
        {% endif %}
        <a href="{{ url_for('logout') }}">{{ name }}</a>
    </div>
</div>
<div id="wrapper" class="video-mode">
    <div id="friends-container">
        <div id="request-form">
            <div>Connect with a Cat</div>
            <input type="text" name="username" placeholder="Username" id="request-username-input">
            <input type="button" onclick=send_message_request() value="+">
        </div>
        <div id="friend-blocks-container">
        </div>
    </div>
    <div id="message-wrapper">
        <div id="messages-container"></div>
        <div id="message-form">
            <input type="text" placeholder="Type a message" id="message-text">
            <input type="button" value="Send" onclick="send_message()">
        </div>
    </div>
    <div id="video-wrapper">
        <video autoplay="true" id="video-element"></video>
        <img id="image-element"></img>
        <canvas id="canvas-element"></canvas>
    </div>

</div>
</div>

<script type="text/javascript">
    var video = document.querySelector("#video-element");
    let canvas = document.querySelector("#canvas-element");
    let ctx = canvas.getContext('2d');

    let img = document.querySelector("#image-element");

    var localMediaStream = null;

    var constraints = {
        video: true
    }

    function sendSnapshot() {
        if (!localMediaStream) {
            return;
        }

        ctx.drawImage(video, 0, 0, video.videoWidth, video.videoHeight, 0, 0, 300, 150);

        let dataURL = canvas.toDataURL('image/jpeg');
        socket.emit('input image', dataURL);
    }

    if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia(constraints)
            .then(function (stream) {
                video.srcObject = stream;
                localMediaStream = stream;

                setInterval(function () {
                    sendSnapshot();
                }, 50);
            }
            )
            .catch(function (err0r) {
                console.log("Video Streaming blocked");
            })
    }

    socket.on('video feed', function (data) {
        img.src = data.data
        console.log(data.message);
    });

    socket.on('video chat response', function (data) {
        console.log(data);
    });

    socket.emit('video chat request', '<USERNAME TO CHAT WITH>');
</script>
{% endblock %}